article {
  display: flex;
  flex-direction: column;
}

article > nav > ul {
  display: flex;
}
article > nav > ul > li {
  padding: 24px;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  color: black;
}

article > nav > ul > #home {
  background-color: red;
  color: white;
}

article > section {
  padding: 50px;
  background-color: red;
}

article > section > h3 {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
}
article > section > p {
  color: white;
}
