@charset 'UTF-8';

/*
VARIABLES
루트 지정하는거 연습해보기
================================================ */
:root {
  --light-green: #d5edeb;
  --green: #63dbd0;
  --brown: #403632;
  --light-grey: #eee;
  --white: #fff;
  --oswald-font: "Oswald", sans-serif;
}

/*
================================================ */
body {
  color: var(--brown);
  background: url("../img/lfcLogoBg\ \(2\).png") no-repeat center / cover fixed;

  text-align: center;
}

/*
================================================ */
p {
  line-height: 1.7;
}
img {
  max-width: 100%;
}
.title {
  color: black;

  font-family: var(--oswald-font);
  font-size: min(10vw, 4rem);
  margin-bottom: 2rem;
}
.btn {
  color: #cb2031;
  background: white;
  border: 1px solid #cb2031;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  margin: 2rem 0;
  transition: 0.4s;
}
.fadein {
  opacity: 0;
}

/*
LAYOUT
================================================ */
.wrapper {
  max-width: 38rem;
  margin: auto;
  padding: 0 1rem;
}

/*
LOADING
================================================ */
#loading {
  background-color: #cb2031;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}
#loading p {
  font-size: 2rem;
  font-family: var(--oswald-font);
}

/*
SLIDE MENU
================================================ */
/* 
열고 닫기 버튼 */
.btn-menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 4;
  border: 1px solid #cb2031;
  background-color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  transition: 0.4s;
}
.btn-menu svg {
  margin-top: 0.25rem;
  height: 1rem;
  width: 1rem;
}

/* 
닫기 버튼 */
#menu-close {
  border: 1px solid #cb2031;
  fill: black;
}

/* 
슬라이드 메뉴 패널 */
#menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 8rem 2rem;
  width: max(32vw, 20rem);
  height: 100vh;
  background-color: var(--brown);
  box-shadow: 0 0 2rem var(--brown);
  font-family: var(--oswald-font);
  translate: 100vw;
}
.menu-list {
  list-style: none;
}
.menu-list li {
  margin: 1.5rem 0;
  opacity: 0;
}
.menu-list a {
  color: var(--light-green);
  text-decoration: none;
  font-size: 2rem;
}

/*
타이틀 컨테이너 */
.title_containor {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 800px) {
  .title_containor {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.title_containor > .title_infotext {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
}
.title_containor > .title_infotext > h1 {
  color: black;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}
/* Title Containor
Auto  Swipe image */
.swiper-wrapper {
  width: 50vw;
  position: relative;
  top: 0;
  left: 0;
}
.swiper-wrapper > .swiper-slide > img {
  padding: 60px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/*
CONCEPT
================================================ */

.concept {
  margin: 8rem 0;
}
.concept p {
  text-align: left;
  margin-bottom: 2rem;
}

/*
GALLERY
================================================ */
.gallery {
  display: flex;
  flex-direction: column-reverse;
}
.gallery-image {
  width: min(100%, calc(38rem - 2rem));
  margin: auto;
  position: relative;
}

/* 갤러리 이미지 크게보기에 테두리 추가 */
.gallery-image::after {
  display: block;
  content: "";
  width: calc(100% - 2rem);
  height: calc(100% - 2.5rem);
  z-index: 3;
  border: 3px solid var(--white);
  top: 1rem;
  left: 1rem;
  position: absolute;
}
.gallery-image img {
  aspect-ratio: 3/4;
  object-fit: cover;
  width: 100%;
}
.gallery-thumbnails {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin: 1rem 0;
}
.gallery-thumbnails img {
  /* 종횡비 */
  aspect-ratio: 3/4;

  object-fit: cover;
  cursor: pointer;
}

/*
SHOP INFO
================================================ */
.ticket {
  background: url("../img/anfielf_bg.jpg") no-repeat center top / cover;
  margin-top: 16rem;
  position: relative;
  height: 40rem;
}
.ticket-content {
  background-color: rgb(255, 255, 255, 0.9);
  padding: 3rem;
  position: absolute;
  top: -8rem;
  width: 90vw;
  left: 0;
  right: 0;
}
.ticket h3 {
  margin: 1rem 0;
  padding-top: 2rem;
  font-weight: normal;
  border-top: 1px solid var(--light-grey);
}

/* DESKTOP SIZE
 */
@media (min-width: 800px) {
  /* COMMON */
  .title {
    margin-bottom: 3rem;
  }
  .btn:hover {
    color: white;
    background: #cb2031;
  }
  .swiper-wrapper > .swiper-slide > img
  /* SLIDE MENU */
  .btn-menu:hover {
    background-color: #cb2031;
    fill: white;
  }

  #menu-close:hover svg {
    fill: white;
  }
  .menu-list a:hover {
    transition: 0.4s;
    color: #cb2031;
  }

  /* CONCEPT*/
  .concept {
    display: flex;
    margin: 16rem 0;
  }
  .concept p {
    text-align-last: left;
  }
  .concept img {
    margin: -6rem 0;
    max-width: 38rem;
  }

  /* GALLERY */
  .gallery {
    flex-direction: row;
  }
  .gallery-image {
    width: 50vw;
    margin: 0;
  }
  .gallery-image img {
    height: 100vh;
  }
  .gallery-content {
    width: 30vw;
  }
  .gallery-thumbnails {
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-thumbnails img:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    transition: 0.4s;
  }

  /* SHOP */
  .shop {
    margin-top: 20rem;
    height: 50rem;
  }
}
